body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #9E643C;
}
  
.topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #EEE8AA;
    color: #9E643C;
}
  
.topnav a.active {
    background-color: #FFFFFF;
    color:#9E643C;
}

.heroImg {
    height: 600px;
    padding: 25px;   
}

.content {
    width: 500px;
    margin: 0 auto;
}

.footer {
    background-color: #373738;
}

.footer ul {
    display: inline-block;
    vertical-align: top;
}
